h1,
h2,
h3 {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  line-height: 110%;
  color: var(--gray-color-1);
  letter-spacing: -0.1rem;
}

h1 {
  font-size: 6.4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.7rem;
  line-height: 170%;
  color: var(--text-color);
}

a {
  display: inline-block;
}

.btn-primary {
  background-color: var(--primary-color);
  padding: 1.8rem 6.1rem;
  font-weight: 600;
  color: var(--white);
  font-size: 1.6rem;
  line-height: 110%;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}

.btn-primary-ghost {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  padding: 1.6rem 5.1rem;
  font-weight: 600;
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 110%;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}

.menu-mobile {
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  font-weight: 600;
  color: var(--white);
  font-size: 1.4rem;
  line-height: 110%;
  cursor: pointer;
  text-align: center;
}
